%h1= t('.listing_subjects')
/ = render 'filters'
%table.table.table-striped
  %thead
    %tr
      %th= ham(:subject, :title)

  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.title
= link_to t('new'), new_admin_subject_path, :class => 'btn btn-primary'
