%h1= t('.listing_subjects')
/ = render 'filters'
%table.table.table-striped
  %thead
    %tr
      %th= ham(:subject, :title)

  %tbody
    - @subjects.each do |subject|
      %tr
        %td= link_to subject.title, subject_path(subject)
= paginate @subjects